.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: -2px;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown-toggle01 {
  background: #fff;
  border: 1px solid #dfe8f1;
  padding: 9px;
  width: 290px;
  text-align: left;
  position: relative;
}

.dropdown-toggle01:hover {
  color: #9aa0a8;
}

.btn .caret {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
}

.btn_more {
  color: #8da0aa;
  font-size: 14px;
  line-height: 14px;
  padding: 9px 14px;
  background: #fff;
  margin-right: 0;
}

button.dropdown-toggle:hover {
  color: #9aa0a8;
}
.dropdown_box>button{
  position: relative;
  width: 100%;
  text-align:left!important;
}
.dropdown_box{
  display: inline-block;
  width:126px;
  position:relative;
}
.search_group{
  position:relative;

}
.search_group .input-group-btn .search_btn{
padding-top:7px;
padding-bottom:7px;
  background:transparent;

}
.search_group .input-group-btn {
    position:absolute;
    right: 25px;
    top: 50%;
    margin-top: -12px;
}
.search_group .form-control{
  height:30px;
}
.search_group .dropdown-menu{
  position:absolute;

}
.search_group>input[placeholder="search"] {
  border-top-right-radius: 4px!important;
  border-bottom-right-radius: 4px !important;
}
.dropdown-menu-right{
  right:-24px;
  top:20px;
}
.zoomin {
  display: inline-block;
  height: 20px;
  width: 18px;
  background: url(../images/icon_zoomIn.png) no-repeat center;
}
.table_box{
  height:330px;
  overflow: scroll;
}
.panel-box {
  vertical-align: top;
}
.row {
  margin: 0;
}
.panel_left{
  display: inline-block;
  width:25%;
}
.panel_right{
  float: right;
  width:74%;
}
.table>tbody>tr:first-child{
  background-color: #fbfbfb;
}
.color_block{
  display: inline-table;
  vertical-align: middle;
  height:16px;
  width:16px;
  margin-top:-3px;
  border-radius:4px ;
  -webkit-border-radius:4px ;
  -moz-border-radius:4px ;
  -ms-border-radius:4px ;
  -o-border-radius:4px ;
  margin-right:10px;                                                                                                                                                                            
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
  vertical-align:middle;
  text-align: center;
}
.table>thead>tr>th:first-child,
.table>tbody>tr>th:first-child,
.table>tfoot>tr>th:first-child,
.table>thead>tr>td:first-child,
.table>tbody>tr>td:first-child,
.table>tfoot>tr>td:first-child {
text-align: left;
padding-left:20px;
}