.glyphicon-edit:before {
font-size: 18px;
}
.intro_box p:last-child span{
  padding-right:15px;
}
.panel_left,.panel_right{

  width:50%;
}
.borderR{
  border-right:1px solid #dfe8f1;
}
.bottom_box .table>thead>tr>th{
  color:#6c818d;
  font-weight: 800;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
  text-align: center;
}
.bottom_box .table>thead>tr>th:first-child,
.bottom_box .table>tbody>tr>th:first-child,
.bottom_box .table>tfoot>tr>th:first-child,
.bottom_box .table>thead>tr>td:first-child,
.bottom_box .table>tbody>tr>td:first-child,
.bottom_box .table>tfoot>tr>td:first-child {
  text-align: right;
  padding-right:25px;
}